<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Ram Monitor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="icon" href="icon.ico" type="image/ico">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Ram Usage Chart</h1>
      </div>
      <p class="save-logs" onclick="saveLogs();"><span>Save Logs</span></p>
      <div class="logs">
        <div id="chart_div"></div>
      </div>
    </div>
    <div id="all_chart_div" style="display:none;width:1920px;height:1080px;"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
			let chartDiv = document.getElementById('chart_div');
			console.log("<%= logs %>");
			let logs = JSON.parse("<%= logs %>");

			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);

      function getMinValue() {
        var rams = logs.filter(log => log[1])
        return Math.min.apply(Math, rams);
      };
        
			function drawChart() {
			  var data = google.visualization.arrayToDataTable(logs);
			  var options = {
			    curveType: 'function',
			    pointSize: 10,
			    vAxis: {minValue: minValue}
			  };

			  var chart = new google.visualization.LineChart(chartDiv);
			  chart.draw(data, options);
			};
		</script>
  </body>
</html>
