body {
	font-family: 'Ubuntu Mono', monospace;
	background: #1a1c1d;
	color: white;
	overflow-x: hidden;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	margin-top: 40px;
	text-align: center;
}

.header h1 span {
	background: #fc4949;
	color: #111213;
	padding: 7px 7px;
	border-radius: 5px;
}

.save-logs {
	font-size: 150%;
	text-align: center;
}

.save-logs span {
	cursor: pointer;
	color: #fc4949;
	background: #111213;
	padding: 7px 7px;
	border-radius: 5px;
	transition-duration: .3s;
}

.save-logs span:hover {
	box-shadow: 3px 3px #fc4949;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	text-align: center;
}

.chart {
	margin-top: 12px;
	margin-bottom: 3px;
	width: 60%;
}

#speed circle {
	fill: #111213 !important;
}

#speed text { 
	fill: white !important;
} 